.table td,
.table th {
  vertical-align: middle !important;
}

textarea.form-control {
  resize: none;
}

.badge {
  font-size: 0.9em;
  padding: 0.4em 0.6em;
}

.card {
  border-radius: 0.75rem;
}

.card-header {
  font-weight: 600;
}
