{% extends "base.html" %}
{% block content %}

<div class="container mt-4">
    <h2>Adicionar Nova Subestação</h2>
    <form method="POST">
        <div class="mb-3">
            <label class="form-label">Nome</label>
            <input type="text" class="form-control" name="nome" required>
        </div>

        <div class="mb-3">
            <label class="form-label">SIGLA</label>
            <input type="text" class="form-control" name="sigla" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Município</label>
            <select class="form-select" name="id_municipio" required>
                {% for mun in municipios %}
                <option value="{{ mun.id_municipio }}">{{ mun.municipio }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-3">
            <label class="form-label">EDP</label>
            <select class="form-select" name="id_edp" required>
                {% for e in edps %}
                <option value="{{ e.id_edp }}">{{ e.empresa }}</option>
                {% endfor %}
            </select>
        </div>

        <button type="submit" class="btn btn-success">Salvar</button>
        <a href="{{ url_for('subestacoes.listar_subestacoes') }}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>

{% endblock %}
